{% extends 'mailing/base.html' %}
{% block content %}
<div class="header mx-auto text-center">
    <h5 class="display-4">{{ title }}</h5>
</div>
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'mailing:message_add' %}">Создать сообщение для рассылки</a>
</div>
<div class="col-12">
    <div class="row">
        {% for object in object_list %}
        <div class="col-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">{{ object.title }}</h3>
                </div>
                <div class="card-body">
                    <p>{{ object.content }}</p>
                    <a href="{% url 'mailing:message_view' object.pk %}"
                       class="btn btn-sm btn-outline-secondary">Просмотр</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}